{
    "env" : {
        "browser": true,
        "es2017" : true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions" : {
        "sourceType" : "module"
    },
    "globals": {
        "jQuery": "readonly"
    },
    "rules" : {
        "no-undef" : 0,
        "semi": ["error", "always"]
    }
}